.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.625rem; /* 10px -> 0.625rem */
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Border Animation */
.gradient::before {
    content: "";
    position: absolute;
    inset: -0.3125rem; /* -5px -> -0.3125rem */
    border-radius: inherit;
    padding: 0.3125rem; /* 5px -> 0.3125rem */
    background: #6f00a9;
    background-size: 300% 300%;
    z-index: -1;
    animation: rotate-border 3s linear infinite;
    opacity: 0;
    /* Proper Masking Fix */
    -webkit-mask-image: linear-gradient(white, white);
    mask-image: linear-gradient(white, white);
}

/* Hover Effect */
.gradient:hover::before {
    opacity: 1;
}

/* Keyframes for Smooth Border Movement */
@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.imageContainer {
    position: relative;
    height: 22.8125rem; /* 365px -> 22.8125rem */
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    border: 0.125rem solid #6f00a9; /* 2px -> 0.125rem */
    transition: all 0.3s ease-in-out;
}

.imageContainer:hover {
    transform: scale(1.02);
}

.imageWrapper {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15.875rem; /* 254px -> 15.875rem */
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-family: Exo;
}
