.navbar {
    display: flex;
    background-color: #000;
    border-radius: 17px;
    border: 2px solid #6f00a9;
    color: white;
}

.prodigy {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Orbitron';
    display: none;
}

.navLinks {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.navLinks li a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
    font-size: 16px;
    transition: 0.4s ease-in-out, color 0.3s;
    border-radius: 5px;
}

.navLinks li a:hover, .active {
    color: white;
    text-decoration: underline;
}

.socialIcons {
    display: flex;
    gap: 5px;
}

.socialIcons a {
    color: white;
    font-size: 20px;
    transition: transform 0.3s, background 0.4s ease-in-out;
    padding-left: 15px;
    border-radius: 50%;
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar {
        display: flex;
        padding: 0 10px 0 10px;
        justify-content: space-between;
        align-items: center;
    }

    .prodigy{
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #121212;
        width: 100%;
        padding: 20px;
        text-align: center;
        z-index: 3;
    }

    .showMenu {
        display: flex;
    }

    .socialIcons {
        justify-content: center;
        margin-top: 15px;
    }
}
